body {
  position: relative;
}


.about-section {
  background-image: url("http://res.cloudinary.com/dpyptkefp/image/upload/v1473852994/DSC_3019_tgkz5m.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

#about-me {
  position: absolute;
  top: 300px;
  
}

#about-me p {
  font-size: 32px;
  padding-left: 10px;
  background-color: rgba(255,255,255,0.2);
}

.portfolio-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.portfolio-section h2 {
  padding-top: 30px;
}

.parallax {
  background-image: url("http://res.cloudinary.com/dpyptkefp/image/upload/v1472589175/13719504_10153666659566975_6681463629265998766_o_qwj4mu.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.skill-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.blog-section {
  background-image: 
  
}

.adventures-section {
  height: 100%;
  text-align: center;
  background: green;
}

/* Navbar Styling, including style switches when scrolled past about section */

.navbar-past-main {
background-color: transparent;

}

.past-main {
  font-size: 18px;
  background-color: transparent;

}

.brand-past-main {
  display: none;
}

/* End of Navbar Styles */



.portfolio-item {
    margin-bottom: 25px;
}

.skill-item {
    margin-bottom: 25px;
}

.adventure-item {
    margin-bottom: 25px;
}