body {
  position: relative;
}


.about-section {
  background-image: url("http://res.cloudinary.com/dpyptkefp/image/upload/v1473852994/DSC_3019_tgkz5m.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-me {
  position: absolute;
  top: 300px;
  font-size: 32px;
  padding-left: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 8px;

  
}



.portfolio-section {
    text-align: center;
    background: #eee;
}

.portfolio-section h2 {
  padding-top: 30px;
}



.parallax {
  background-image: url("http://res.cloudinary.com/dpyptkefp/image/upload/v1472589175/13719504_10153666659566975_6681463629265998766_o_qwj4mu.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding-left: 10px;
}


.blog-text {
width: 400px;
margin: 0 auto;
border: 6px solid white;
transform: translateY(50%);
}

.blog-text h1 {
  color: white;
  font-size: 90px;
  text-align: center;
}

.blog-text p {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0px 30px 10px;
}


.skill-section {
    text-align: center;
    background: white;
}




.adventures-section {
  text-align: center;
  background: white;
}

/* Navbar Styling, including style switches when scrolled past about section */


.icon-bar {
  background-color: black;
}

.navbar-nav li a {
  color: black;
}

.navbar {
  background-color: rgba(255,255,255,1);
  border-bottom: 1px solid black;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #D5D1D1;
}

.brand-past-main {
  display: none;
}


/* End of Navbar Styles */




.skill-item {
    margin-bottom: 25px;
}

.adventure-item {
    margin-bottom: 25px;
}

/* CONTACT ME SECTION */
.contact-section {
    text-align: center;
    background: #eee;
}


.thumbnail{
  display: inline-block;
}

.project {
  padding-bottom: 2em;
}